<div [@slideIn]>
  <h1 class="ion-text-center">
    <strong class="brand-title">
      <ion-icon name="heart-circle"></ion-icon>
      FritangApp
      <ion-icon name="heart-circle"></ion-icon>
    </strong>
  </h1>

  <h2 class="ion-text-center">
    <strong>Inicio de sesión</strong>
  </h2>
  <form>
    <ion-input
      labelPlacement="stacked"
      clearInput="true"
      class="ion-margin-top"
      label="Nombre de usuario o correo"
      fill="outline"
      value="fonse99"
    >
      <ion-icon name="at-circle-outline" slot="start" color="primary"
    /></ion-input>

    <ion-button class="ion-margin-top" expand="block" size="large">
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      Recuperar
    </ion-button>
    <ion-button
      class="ion-margin-top"
      expand="block"
      fill="clear"
      (click)="goBack()"
    >
      <ion-icon name="reload-circle-outline" slot="start"></ion-icon>
      Ir a Inicio de sesión
    </ion-button>
  </form>
</div>
