form {
    display: block;
    border-radius: 5px;
    padding: 16px;
    height: 50vh;
  }
  
  .brand-title {
    color: var(--ion-color-primary);
    font-size: 40px;
    font-style: italic;
  }
  
  // Tablet layout
  @media (min-width: 577px) and (max-width: 800px) {
    form {
      width: 70vw;
    }
  }
  
  // Mobile layout
  @media (min-width: 801px) {
    form {
      width: 35vw;
    }
  }
  