<c-header />

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-margin">
      <ion-col size="6" sizeXs="12" sizeSm="6" *ngFor="let i of routing">
        <ion-card>
          <ion-card-header>
            <ion-card-title> {{i.title}}</ion-card-title>
            <ion-card-subtitle> {{i.description}} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-toolbar>
              <ion-buttons>
                <ion-button shape="round">
                  <ion-icon color="secondary" name="help-circle" size="large" />
                </ion-button>
              </ion-buttons>  
              <ion-button slot="end" fill="clear" [routerLink]="i.route">
                Seleccionar
              </ion-button>
            </ion-toolbar>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border" >
  <ion-toolbar color="secondary">
    <p class="ion-text-center">
      <ion-note color="light">
        Desarrollado por
        <br />
        <strong>Ing. Brandon Isaac Fonseca</strong>
      </ion-note>
    </p>
  </ion-toolbar>
</ion-footer>
